.product-card {
  width: 250px; /* Ajusta según necesidad */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background: white;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 180px; /* Ajusta el alto según tu diseño */
  object-fit: cover; /* Evita distorsión de imágenes */
  border-bottom: 1px solid #ddd;
}

.product-info {
  padding: 15px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.product-price {
  font-size: 16px;
  color: #212d24;
  margin-bottom: 10px;
}

.add-to-cart-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}
/* Estilo del botón de ver detalles */
.view-details-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.view-details-button:hover {
  background-color: #0056b3;
}
